@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1220px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 5rem auto;
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.btn-success {
  background-color: green;
  color: #fff;
}
.btn-danger {
  background-color: red;
  color: #fff;
}
.btn-info {
  background-color: blue;
  color: #fff;
}
.btn-caution {
  background-color: #664d03;
  color: #fff;
}
.btn:active {
  transform: scale(0.98);
  box-shadow: none;
}
.btn:hover {
  opacity: 0.9;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  animation: fadeIn-Ou 0.3s ease;
}
@keyframes fadeIn-Ou {
  0% {
    transform: translate(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.alert-container {
  position: relative;
  max-width: 500px;
  margin: 1.75rem auto;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.alert-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: inherit;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  outline: 0;
}
.alert-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid white;
  background-color: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}
.alert-success {
  background-color: #cff6e4;
  color: black;
  padding-left: 4rem;
}
.alert-success::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: absolute;
  content: "\f058";

  position: absolute;
  left: 18px;
  top: 18px;
  font-size: 2rem;
  color: #0f5132;
}
.alert-info {
  background-color: #d5e5fd;
  color: #052d68;
  padding-left: 4rem;
}
.alert-info::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: 900;
  content: "\f05a";

  position: absolute;
  left: 18px;
  top: 18px;
  font-size: 2rem;
  color: #052d68;
}
.alert-caution {
  background-color: #fef2d0;
  color: #342802;
  padding-left: 4rem;
}

.alert-caution::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: 900;
  content: "\f071";
  position: absolute;
  left: 18px;
  top: 18px;
  font-size: 2rem;
  color: #664d03;
}
.alert-danger {
  background-color: #f7dfe1;
  color: #5b161c;
  padding-left: 4rem;
}

.alert-danger::before {
  font-family: "Font Awesome\ 6 Free";
  font-weight: 900;
  content: "\f057";
  position: absolute;
  left: 18px;
  top: 18px;
  font-size: 2rem;
  color: #842029;
}

form {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
form label {
  margin-bottom: 0.5rem;
}
form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid #084298;
  outline: none;
}
form input:focus {
  border-bottom: 1px solid #842029;
}
form button {
  width: 100%;
  margin-top: 2rem;
}
